/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Kanit', sans-serif; */
  font-family: "Righteous", cursive;
}

body {
  background-color: #7678ed;
}

/* NAVBAR */

#navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #3d348b;
  color: #f5efff;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid #000501;
}

#navbar_intestation {
  display: inline-block;
  vertical-align: middle;
}

#logo_boolean {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

/* CONTAINER */

#container {
  padding-top: 6%;
  width: 910px;
  margin: auto;
}

.block {
  width: 100%;
  margin-bottom: 5px;
}

/* PRODUCT ON SALE | IMG | DISCOUNT */

.product {
  width: 300px;
  height: 300px;
  position: relative;
  display: inline-block;
  background-color: white;
  border: 2px solid #000501;
  padding-top: 5%;
  padding-bottom: 5%;
}

img {
  width: 100%;
  height: 100%;
}

/* DISCOUNT */

.discount {
  position: absolute;
  top: 1%;
  right: 1%;
  border-radius: 50%;
  padding: 2%;
}

.green {
  background-color: #c6ebbe;
}

.red {
  background-color: #ff220c;
}

/* HEART  */

.heart {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 1%;
  color: #ff220c;
  font-size: 40px;
  display: none;
}

.product:hover .heart {
  display: block;
  cursor: pointer;
}
